<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <!-- namespace는 반드시 mapper의 위치로 설정.+ 내가 사용하고자하는 맵퍼이름까지 -->
<mapper namespace="com.ict.edu3.domain.auth.mapper.AuthMapper">
	<select id="selectMember" parameterType="String" resultType="UserVO">
  select * from members where m_id= #{m_id}
  </select>
</mapper>






